.bs-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    .glry-img {
        min-width: 45%;
        max-width: 45%;
    }

    .glry-info {
        min-width: 55%;
        max-width: 55%;
        padding-right: 13%;
        padding-left: 6%;
        padding-top: 3rem;
        // padding-bottom: 5rem;

        .glry-name {
            font-size: 2.4rem;
            margin-bottom: 1.2rem;
            font-weight: $font-xtralight;
        }

        .glry-title {
            font-size: 8.4rem;
            font-family: $barlow-condensed;
            line-height: 7.5rem;
            margin-bottom: 1.8rem;
            font-weight: $font-light;
        }

        .glry-desc {
            line-height: 2.6rem;

            p {
                margin-bottom: 2.2rem;
            }
        }

        .glry-lbl-list {
            display: flex;
            flex-wrap: wrap;

            .glry-lbl {
                font-size: 1.8rem;
                background: #e4e4e4;
                padding: 0.8rem 2.2rem 0.9rem 2.2rem;
                border-radius: 2rem;
                color: $clr-black;
                font-weight: $font-medium;
                margin-right: 1.2rem;
                margin: 0.5rem 1.2rem 0.5rem 0;
            }
        }

        .cm-act-wrap {
            padding: 5.2rem 0;

            .btn {
                margin-right: 8.5rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .bs-iconinfo-list {
        position: absolute;
        left: 51%;
        right: 0%;
        padding-top: 1rem;
        bottom: 0;
        border-top: 1px solid #aa9a9a;
    }

    &.thm-dark {
        .glry-info {
            background: $clr-black;
            color: $clr-white;

        }

        .cm-act-wrap {
            .btn {
                color: $clr-white;

                .icon {
                    color: $clr-white;
                }
            }
        }

        .bs-iconinfo-list {
            position: static;
            padding: 0.8rem 0;
            border-bottom: 1px solid #d8d8d8;
            border-top: 0;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .bs-gallery {
        .glry-img {
            min-width: 45%;
            max-width: 45%;
        }

        .glry-info {
            padding-right: 2%;
            padding-left: 4%;
            padding-top: 2rem;


            .glry-name {
                font-size: 2.2rem;
                margin-bottom: 1rem;
            }

            .glry-title {
                font-size: 6rem;
                line-height: 5.6rem;
            }

            .glry-lbl-list {
                .glry-lbl {
                    font-size: 1.6rem;
                    padding: 0.6rem 1.8rem 0.7rem 1.8rem;
                }
            }

            .cm-act-wrap {
                padding: 3.2rem 0;
            }
        }

        .bs-iconinfo-list {
            left: 49%;
        }

        &.thm-dark {
            .glry-info {
                padding-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: $media-xs) {
    .bs-gallery {
        .glry-img {
            min-width: 100%;
            max-width: 100%;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.78) 75%);
            }
        }

        .glry-info {
            min-width: 100%;
            max-width: 100%;
            padding-left: 2.2rem;
            padding-right: 2.2rem;
            padding-bottom: 2rem;
            position: absolute;
            bottom: 5.8rem;
            color: $clr-white;

            .glry-name {
                font-size: 1.6rem;
                margin-bottom: 0.5rem;
            }

            .glry-title {
                font-size: 3.4rem;
                line-height: 3.2rem;
            }

            .glry-desc {
                display: none;
            }

            .cm-act-wrap {
                padding-bottom: 0;

                .btn {
                    color: $clr-white;
                    margin-right: 2.5rem;
                    font-size: 1.4rem;

                    .icon {
                        color: $clr-white;
                    }
                }
            }

            .glry-lbl-list {
                .glry-lbl {
                    font-size: 1.3rem;
                    padding: 0.7rem 1.8rem 0.8rem 1.8rem;
                    margin-right: 0.8rem;
                }
            }
        }

        .bs-iconinfo-list {
            position: static;
            padding: 0.9rem 2.2rem .7rem;
            width: 100%;
            border-bottom: 1px solid #d8d8d8;
            border-top: 0;
        }

        &.thm-dark {
            .glry-info {
                background: transparent;
                padding-bottom: 2rem;
            }

            .bs-iconinfo-list {
                padding: 0.9rem 2.2rem .7rem;
            }
        }
    }
}