.lyt-member-profile {
    .bs-icon-text-list {
        margin: 4rem 0;
        justify-content: center;
        border-bottom: 0;
        padding-bottom: 0;

        .mod-icon-text {
            cursor: pointer;
        }
    }
}