.artist-pin{
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 21%;
    .artist-pic{
        width: 256px;
        height: 256px;
        border-radius: 50%;
    }
    .artist-name{
        font-family: $barlow-condensed;
        font-size: 24px;
        font-weight: 500;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.88px;
        text-align: center;
        color: #231f20;
        margin-top: 30px;
        margin-bottom: 5px;
    }
    .artist-handle{
        font-family: $barlow-condensed;
        font-size: 36px;
        font-weight: 200;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: -1.32px;
        text-align: center;
        color: #000000;
    }
    .artist-location{
        font-family: $barlow-condensed;
        font-size: 14px;
        font-weight: 300;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        img{
            width: 22px;
            height: 14px;
        }
        span{
            font-family: $barlow;
            font-size: 18px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $clr-blue;
        }
    }
}