.greeting-message{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 200;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.88px;
    color: #231f20;
    margin-bottom: 0;
    margin-top: 34px;
}

.greeting-byline{
    margin-top: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.88px;
    color: #231f20;
}