.input-container
{
  .Dropdown-root {
    position: relative;
  }
  
  .Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    // padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    width: 180px;
    height: 58px;
    display: flex;
    align-items: center;
    font-family: $barlow-condensed;
    font-size: 36px;
    font-weight: 200;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.32px;
    text-align: center;
    color: #000;
  }
  
  .Dropdown-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
  
      .Dropdown-arrow {
        // border-color: rgb(0, 0, 0) transparent transparent;
        // border-style: solid;
        // border-width: 8px 6px 0;
        content: '';
        display: block;
        // height: 0;
        /* margin-top: -ceil(2.5); */
        position: absolute;
        right: 10px;
        // top: 35px;
        // width: 0;
        background-image: url("../../../assets/images/triangle-copy-4.svg");
        height: 15px;
        width: 15px;
        background-size: 15px 15px;
      }
      
      .is-open .Dropdown-arrow {
        // border-color: transparent transparent rgb(0, 0, 0);
        // border-width: 0 6px 8px;
        background-image: url("../../../assets/images/triangle-copy-4.svg");
        transform: rotate(180deg);
      }
  
  .Dropdown-menu {
    background-color: #f5f5f5;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    // width: 100%;
    width: 180px;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
  }
  
  .Dropdown-menu .Dropdown-group > .Dropdown-title{
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: flex;
    // padding: 8px 10px;
    font-family: $barlow;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 54px;
  }
  
  .Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
     border-bottom-left-radius: 2px;
  }
  
  .Dropdown-option:hover {
    color: #000;
    font-weight: 500;
  }
  
  .Dropdown-option.is-selected {
    color: #000;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    padding-left: 15px;
  }
  .Dropdown-option.is-selected::before {
    content: '';
    background: url('../../images/ic-check.svg');
    background-size: 100% 100%;
    height: 24px;
    width: 24px;
    display: flex;
  }
  
  .Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
  }