.green-tick{
    width: 52px;
    height: 52px;
    margin-top: 93px;
    margin-bottom: 18px;
}

.data-container{
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-bottom: 49px;
    width: 256px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    font-weight: 200;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #666666;
    p:nth-child(1){
        margin-bottom: 8px;
    }
    span:nth-child(3){
        margin-top: 8px;
    }
    span{
        font-size: 24px;
        font-weight: 200;
        font-stretch: condensed;
        font-style: normal;
        // line-height: 0.83;
        letter-spacing: normal;
        color: #000000;
    }
}