.container-common{
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    background: white;
    // background: rgb(233, 132, 132);
    // padding-left: 50px;
    // padding-right: 50px;
    // padding-top: 34px;
}