/* colors */

$clr-white: #ffffff;
$clr-black: #000000;
$clr-grey: #cccccc;
$clr-light-grey: #d8d8d8;
$clr-blue: #577bdf;
$clr-semi-green: #659400;
$clr-green: #63a816;
$clr-orange: #f39100;
$clr-dark-pink: #ff005c;

/*font Weight*/

$barlow: 'Barlow', sans-serif;
$barlow-condensed: 'Barlow Condensed', sans-serif;

/*font Weight*/

$font-regular: 400;
$font-light: 300;
$font-xtralight: 200;
$font-medium: 500;
$font-semibold: 600;

/* breakpoints */

$media-xl: 1920px;
$media-lg: 1600px;
$media-md: 1024px;
$media-xs: 767px;
$media-xxs: 320px;
